<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Definicion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ucl in ucls %}
                        <tr>
                            <td>{{ ucl.id }}</td>
                            <td>{{ ucl.nombre }}</td>
                            <td>{{ ucl.definicion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#example').DataTable();
                });
            </script>
        {% endblock %}
    </body>
</html>
