.divListCheck
{
	border: 1px solid silver;
	width: 150px;
	height: 326px;
	overflow-y: scroll;
	background-color: white;
}
.ulListCheck
{

}
.ulListCheck li
{
	padding: 10px;
	text-align: left;
	list-style: none;
	font-size : 0.8em;
}
.ulListCheck li:nth-child(odd)
{
	background-color: #ededed;
}