
.jumbotron{
	background: #428bca;
	color:#fff;
	padding: 20px 0;
}
.jumbotron .titulo-blog{
	font-size: 80px;
        text-align: center;
}
.abc{
    text-decoration: none;
}
/* -- POST -- */
.main{
	margin-top: 20px;
	margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;         
}
.post{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
    width: 500px;
}
.home{
    color: blue;
}
.paginacion{
    
    position: center;
}

.edel{
    padding-left: 10px;
    align-content: center;
}

/* -- Media Querie --*/
@media screen and (max-width: 768px){
	.jumbotron .titulo-blog{
	font-size: 40px;
        text-align: center;
}
#contenidoTabla{
   width:auto;
}
}